# SYNC SERVICE
PEER_SYNC_HOST="localhost:4201"
VITE_PEER_SYNC_HOST="localhost:4201"
PEER_SYNC_STORAGE="pglite | postgres"
PEER_SYNC_DB_URL=""
PEER_SYNC_SEED=true

# AVENS
AVEN_MAIA_ACCOUNT=""
AVEN_MAIA_SECRET=""
AVEN_MAIA_NAME="Maia"
AVEN_MAIA_GUARDIAN=""

VITE_AVEN_TEST_ACCOUNT=""
VITE_AVEN_TEST_SECRET=s""
VITE_AVEN_TEST_MODE=true
VITE_AVEN_TEST_NAME="Human Tester"

# APP SERVICE
PEER_APP_HOST="localhost:4200"


