# fly.toml app configuration file for hominio-app
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'hominio-app'
primary_region = 'fra'

[build]

[env]
PORT = '3000'
NODE_ENV = 'production'

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1  # Keep at least 1 machine running for app availability
processes = ['app']

[[http_service.checks]]
grace_period = "10s"
interval = "30s"
method = "GET"
timeout = "5s"
path = "/"

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1

